<section class="wrap">
  <div class="jumbotron">
    <div class="hero">
    <h2 class="display-3">Welcome to API Curious for Github, <%= @user.name %>!</h2>
      <p class="lead">
        <%= render partial: 'shared/login' %>
      </p>
  </div>
  </div>
</section>
